# Absolute path to the folder that will hold your tasks/projects as markdown files.
# This same folder can be opened directly as an Obsidian vault.
#
# Examples:
#   VAULT_PATH=/Users/you/Documents/MyTaManVault
#   VAULT_PATH=./vault
VAULT_PATH=./vault
